{% extends 'templates/layout.html' %}
{% block title %}
  Donate Now
{% endblock title %}
{% block content %}
  <div class="py-5" style="background-image: url(&quot;https://static.pingendo.com/cover-stripes.svg&quot;); background-position: left center; background-size: cover;">
    <div class="container">
      <div class="row">
        <div class="p-5 col-lg-6">
          <h1>We are so happy, my dear</h1>
          <p class="mb-3">No one is useless in this world who lightens the burdens of another. The real destroyer of the liberties of the people is he who spreads among them bounties, donations and benefits. You have not lived today until you have done something for someone who can never repay you. Donate for a cause</p><a class="btn btn-primary btn-block" href="#">Donate Now</a>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-lg-5 col-md-6 col-10">
          <h1>Donate Money</h1>
          <p class="mb-3">We accept both used items and monitory donations. <u>Click here</u> to learn how to support RobinHood.</p> <a class="btn btn-primary" href="#">Donate Money</a>
        </div>
        <div class="col-md-6">
          <h1 class="">Donate Electornics</h1>
          <p> Bring your used tech (and more!) to RobinHood and we’ll either put it to good use or ensure it is recycled responsibly. It costs us money to recycle certain non-functioning items such as keyboards and monitors. If you know your donation cannot be repaired, please consider making a financial donation to cover recycling costs or consider taking them to the Center for Hard to Recycle Materials instead. Whatever you do, please do not take ewaste to a landfill! </p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active text-center"> We Accept</a>
            <a href="#" class="list-group-item list-group-item-action text-center">Desktop and laptop computers (please bring the power supply if you have it!)</a>
            <a href="#" class="list-group-item list-group-item-action text-center">Mobile phones and tablets</a>
            <a href="#" class="list-group-item list-group-item-action text-center">LCD Monitors</a>
            <a href="#" class="list-group-item list-group-item-action disabled text-center">CRT Monitors<br></a>
            <a href="#" class="list-group-item list-group-item-action disabled text-center">Laser/inkjet printers and toners/ink cartridges</a>
            <a href="#" class="list-group-item list-group-item-action disabled text-center">Computer speakers</a>
            <a href="#" class="list-group-item list-group-item-action disabled text-center">PS/2 or USB keyboards and mice</a>
            <a href="#" class="list-group-item list-group-item-action disabled text-center">Memory</a>
            <a href="#" class="list-group-item list-group-item-action disabled text-center">Hard drives</a>
            <a href="#" class="list-group-item list-group-item-action disabled text-center">Disc drives</a>
            <a href="#" class="list-group-item list-group-item-action disabled text-center">Cable and DSL modems</a>
            <a href="#" class="list-group-item list-group-item-action disabled text-center">Network routers and switches (home, office and enterprise variety)</a>
            <a href="#" class="list-group-item list-group-item-action disabled text-center">Grounded extension cords</a>
            <a href="#" class="list-group-item list-group-item-action disabled text-center">Power strips</a>
            <a href="#" class="list-group-item list-group-item-action disabled text-center">Battery backups</a>
            <a href="#" class="list-group-item list-group-item-action disabled text-center">Tools of all varieties. If it can open a computer, crimp a cable, test a part, etc. we probably want it! </a>
            <a href="#" class="list-group-item list-group-item-action disabled text-center">Office supplies (printer paper, pens, dry erase markers, clear tape are always appreciated!)</a>
            <a href="#" class="list-group-item list-group-item-action disabled text-center">Toiletries and cleaning supplies (toilet paper, paper towels, rags, glass cleaner, floor cleaner, hand soap)</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="mb-3">How to donate</h1>
          <p class="text-justify">Donations may be taken to our workspace on Sunday from 1-5pm, Wednesday from 6-8pm, Friday from 3-7pm, and Saturday from 9am-1pm.&nbsp;<br>For the sake of time it is suggested that you organize or sort your donations in a manner that makes categorization easy.&nbsp;<br>If you are wanting a tax receipt, it is advised to have a written list of the items in question that are being donated; this will make your donation time quicker and will help our volunteers efficiently sort items.&nbsp;<br>If you represent an organization or business with a large amount of hardware to donate, please email us to arrange a pick-up or drop-off. Keep in mind that we are an all-volunteer run organization, so our ability to pick up equipment varies.<br>Please Signup/Login to the website and create a donation entry from your panel, so that it will be easy for us to create donation entry.</p>
        </div>
        <div class="col-md-6">
          <h1 class="mb-3">Your personal data is secure</h1>
          <p class="text-justify" style="">When you donate your computer to Free I.T. Athens, our volunteers remove its hard drive and put the drive through a data wiping process using free software called DBAN. DBAN removes data by writing random numbers to the disk.&nbsp;After your data has been wiped from the hard drive volunteers will refurbish your computer using a free operating system called GNU/Linux. Your computer will either be granted to a volunteer for completing community service, sold to an individual or family that cannot afford a new computer, or granted to a non-profit organization/community group. If your computer cannot be refurbished, it will be recycled through a certified recycler. Don’t donate to those other guys, they could be shipping e-waste overseas to be dumped!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="mx-auto text-center col-lg-6">
          <h1 class="mb-3">Get in touch</h1>
          <p class="lead mb-4">We are so happy to know that you are interested in joining hands</p>
        </div>
      </div>
      <div class="row">
        <div class="p-0 order-2 order-md-1 col-lg-6"> <iframe width="100%" height="350" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3718.5490831480784!2d81.60284041434998!3d21.249722185879055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a28dde213f66723%3A0x21543965c50c43c7!2sNational+Institute+of+Technology%2C+Raipur!5e0!3m2!1sen!2sin!4v1548136174867" scrolling="no" frameborder="0"></iframe> </div>
        <div class="px-4 order-1 order-md-2 col-lg-6">
          <h2 class="mb-4">Your details</h2>
          <form>
            <div class="form-group"> <input type="text" class="form-control" id="form44" placeholder="Name"> </div>
            <div class="form-group"> <input type="email" class="form-control" id="form45" placeholder="Email"> </div>
            <div class="form-group"> <textarea class="form-control" id="form46" rows="3" placeholder="Your message"></textarea> </div> <button type="submit" class="btn btn-primary">Send</button>
          </form><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}