{% extends 'templates/layout.html' %}
{% block title %}
    Learn More
{% endblock title %}
{% block content %}
  <div class="py-5">
    <div class="container"></div>
  </div>
  <div class="py-3 text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Why us?</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-6 p-4"> <i class="d-block fa fa-stop-circle-o fa-3x mb-2 text-muted"></i>
          <h4> <b>Uniqueness</b></h4>
          <ul class="">
            <li>Being one of it slind in entire India</li>
            <li>We hit on people to donate based on the community need of the society</li>
          </ul>
        </div>
        <div class="col-md-6 col-6 p-4"> <i class="d-block fa fa-circle-o fa-3x mb-2 text-muted"></i>
          <h4> <b>Empowering</b></h4>
          <ul class="">
            <li>Hitting the very target of cheap education of computer to deprived</li>
            <li>Chhattisgarh provides a strong market as it is still developing with various under-developed areas.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="text-center col-md-12">
          <h1>3 Phases</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 p-3">
          <div class="card bg-light">
            <div class="card-body p-4">
              <div class="row">
                <div class="col-8">
                  <h3 class="mb-0">Phase 1</h3>
                </div>
                <div class="col-4 text-right">
                  <p><b>2019-2021</b></p>
                </div>
              </div>
              <p class="my-3">We will be refurbishing the computer leftovers after the upgradation of the labs in NIT Raipur and nearby colleges</p>
              <ul class="pl-3">
                <li>Collaboration with E-Cell NIT Raipur and Sahyog NIT Raipur</li>
                <li>Setting up refurbushed systems in schools and institutions with less income.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 p-3">
          <div class="card bg-light">
            <div class="card-body p-4">
              <div class="row">
                <div class="col-8">
                  <h3 class="mb-0">Phase 2</h3>
                </div>
                <div class="col-4 text-right">
                  <p> <b>2021-23</b></p>
                </div>
              </div>
              <p class="my-3">We'll target the common masses by organizing awareness drives and rallies in association with various government organization as Swatch Bharat Abhiyan , Digital India , Start-up India. With the capital we have gained we will install computer center where in members can learn and use the resources at a marginal rate of 200 Rs per month.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 p-3">
          <div class="card bg-light">
            <div class="card-body p-4">
              <div class="row">
                <div class="col-8">
                  <h3 class="mb-0">Phase 3</h3>
                </div>
                <div class="col-4 text-right">
                  <p><b>&gt;2023</b></p>
                </div>
              </div>
              <p class="my-3">This involves the extension of our activities and centers in other nearby states as in Orissa and Jharkhand.</p>
              <ul class="pl-3">
                <li>Scalling up by setting more centres at remote areas of the state and nearby states.</li>
                <li>Self sustaining by charging very nominal charges at the centres.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="text-center mx-auto col-md-12">
          <h1>Current Status</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 p-3">
          <div class="card bg-dark text-center text-light">
            <div class="card-body p-4">
              <h3>Abstract Development</h3>
              <h2 class="my-3"> <b>Completed</b></h2>
            </div>
          </div>
        </div>
        <div class="col-lg-4 p-3">
          <div class="card bg-dark text-center text-light">
            <div class="card-body p-4">
              <h3>Web application Portal</h3>
              <h2 class="my-3"> <b>Completed</b></h2>
            </div>
          </div>
        </div>
        <div class="col-lg-4 p-3">
          <div class="card bg-dark text-center text-light">
            <div class="card-body p-4">
              <h3>Community</h3>
              <h2 class="my-3"> <b>Building...</b></h2><i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5" style="background-image: url('https://static.pingendo.com/cover-stripes.svg'); background-position:left center; background-size: cover;">
    <div class="container">
      <div class="row">
        <div class="p-5 col-lg-6">
          <h1>We are so happy, my dear</h1>
          <p class="mb-3">No one is useless in this world who lightens the burdens of another. The real destroyer of the liberties of the people is he who spreads among them bounties, donations and benefits. You have not lived today until you have done something for someone who can never repay you. Donate for a cause</p><a class="btn btn-primary btn-block" href="#">Donate Now</a>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="mx-auto text-center col-lg-6">
          <h1 class="mb-3">Get in touch</h1>
          <p class="lead mb-4">We are so happy to know that you are interested in joining hands</p>
        </div>
      </div>
      <div class="row">
        <div class="p-0 order-2 order-md-1 col-lg-6"> <iframe width="100%" height="350" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3718.5490831480784!2d81.60284041434998!3d21.249722185879055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a28dde213f66723%3A0x21543965c50c43c7!2sNational+Institute+of+Technology%2C+Raipur!5e0!3m2!1sen!2sin!4v1548136174867" scrolling="no" frameborder="0"></iframe> </div>
        <div class="px-4 order-1 order-md-2 col-lg-6">
          <h2 class="mb-4">Your details</h2>
          <form>
            <div class="form-group"> <input type="text" class="form-control" id="form44" placeholder="Name"> </div>
            <div class="form-group"> <input type="email" class="form-control" id="form45" placeholder="Email"> </div>
            <div class="form-group"> <textarea class="form-control" id="form46" rows="3" placeholder="Your message"></textarea> </div> <button type="submit" class="btn btn-primary">Send</button>
          </form><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}